/* main background 31495e  */
html {
	background: #11252F;
}

.row.content {height: 100%;}

.mainmenu{
	/*background: #11252F;*/
	background: #11252F;
	width: 8.33333333%;
	height: 100vh;
	color:#FAFAFA; 
	padding:0% 1% 0% 1%;
	float: left;
	display: inline-block;
}

.mainmenu .nev_slide_main{
	/*background: #110000;*/
	margin:0% -8% 10% -8%;
	height: 80vh;
	/*overflow: ;
	overflow-x: hidden; 
    overflow-y: scroll;*/
    display: inline-block;
}

.sidenav {
	background-color: #183544; /* 405a71 */
	height: 100vh;
	color:#fff;
	/*
	border-right: 1px;
	border-color: #D8D8D8;
	border-right-style: solid;
	*/
} 
.tabstatus{
	background-color: #2E5264; /* 405a71 */
	height: 100vh;
	color:#fff;
}
ul.main-menu > li > a {
	padding: 5px 5px;
}

ul.main-menu > li { 
	text-align:center;
	font-size:100%; 
}

ul.main-menu > li + li {
  margin-top: 10%;
  margin-left: 0;
}  

ul.main-menu > li.noneactive > a{
	color:#11252F;
	background-color: #405a71;
	border: 2px solid #405a71;
	padding-bottom: -10px; 
}

ul.main-menu > li.noneactive > a:hover {
	color:#FAFAFA;
	background-color: #405a71;
	border: 2px solid #FE9A2E;
}

ul.main-menu > li.active > a,
ul.main-menu > li.active > a:hover,
ul.main-menu > li.active > a:focus {
  color: #fff;
  background-color: #49657f;   
  border: 2px solid #FE9A2E;
}


.brand{ 
	text-align: center; 
}
.brand .logo img{
	width: 100%;
}
.navbar-top {
      margin-bottom: 0;
      border-radius: 0;
    }
    
/* On small screens, set height to 'auto' for the grid */
@media screen and (max-width: 767px) {
  .row.content {height: auto;}
}

.navigation{
	padding: 10px;
	border: 0;
  	border-bottom: 1px solid #eee; 
}

.nav-to{
	font-size: 75%;
	color: #666;
}

.contentmain{ 
	color: #666;
	height: 90vh;
	overflow-x: hidden; 
    overflow-y: scroll;

}



/* Start footer */
.footer{
	position:fixed;
	left:0px;
	bottom:0px;
	height:30px;
	width:100%; 
	z-index:1000;
	border: 0;
  	border-top: 1px solid #bababa;
  	background: #bababa;
  	color: #666;
}
/* End footer*/

/* Start Modal FullScreen 100% */

.modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
}
/* End Modal FullScreen 100% */

